demo/create-company-demo/src/main/app/googledemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:google-dfp="http://www.mulesoft.org/schema/mule/google-dfp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	version="EE-3.6.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/google-dfp http://www.mulesoft.org/schema/mule/google-dfp/current/mule-google-dfp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<context:property-placeholder location="demo.properties" />

	<google-dfp:config name="GoogleDfp__Authentication"
		clientId="${google-dfp.clientId}" clientSecret="${google-dfp.clientSecret}"
		refreshToken="${google-dfp.refreshToken}" networkCode="${google-dfp.networkCode}"
		applicationName="${google-dfp.applicationName}" endpoint="${google-dfp.endpoint}"
		tokenServerUrl="${google-dfp.tokenServerUrl}" doc:name="GoogleDfp">
        <google-dfp:custom-ids>
            <google-dfp:custom-id>123</google-dfp:custom-id>
        </google-dfp:custom-ids>
	</google-dfp:config>

	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />

	<flow name="googledemoFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/createCompany" doc:name="HTTP" allowedMethods="GET" />

		<custom-transformer class="com.ricston.googledemo.transformer.GoogleCompany"
			doc:name="Create Google Company" />
        <google-dfp:create-company config-ref="GoogleDfp__Authentication" doc:name="Create GoogleDfp Company">
            <google-dfp:company ref="#[payload]"/>
        </google-dfp:create-company>
	</flow>
</mule>
